@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.BusinessObjects.CustomerDetail.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SmoothData.BusinessObjects.CustomerDetailGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>