<div id="bitcoin-pane" class='tab-pane hide'>

    <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0">Coming soon . . . </h4>



    </div>



</div>
