
<div id="chnnl-dlg"></div>


<div id="channel-analytics-pane" class='tab-pane hide'>

    <center><div id="chnl-anlytcs-prgrss"></div></center>



    <div class="row hide" id='channel-analytics-tab-container'>

        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">




                    <div id="chnnl-analytics-tab" class='hide'></div>



                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->

    </div>


    <div class="row chnnl-analytics-tab-pane"  id="chnnls-container" style='margin-top:12px'></div>

    <div id='chnnl-analytics-trnx-value-by-months-tab-b' class='chnnl-analytics-tab-pane hide'>





        <div id="trnxn-by-value-chart"></div>









    </div>
    <div id='chnnl-analytics-trnx-value-by-months-tab-c' class='chnnl-analytics-tab-pane hide'>Hello world</div>

</div>

<style>
    .chnnl-analytics-tab-pane {
        margin-top: 12px
    }
</style>