<div id="credit-scoring-pane" class='tab-pane hide'>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Credit Score</h4>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#home1" role="tab" aria-selected="false">
                                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                <span class="d-none d-sm-block">Individual</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#profile1" role="tab" aria-selected="false">
                                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                <span class="d-none d-sm-block">Group</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#messages1" role="tab" aria-selected="false">
                                <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                <span class="d-none d-sm-block">Corporate</span>
                            </a>
                        </li>

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content p-3 text-muted">
                        <div class="tab-pane active" id="home1" role="tabpanel">

                            <div class="mt-1">
                                <ul class="list-inline main-chart mb-0">
                                    <li class="list-inline-item chart-border-left me-0 border-0">
                                        <h3 class="text-primary"><span data-plugin="counterup">2</span><span class="text-muted d-inline-block font-size-15 ms-3">Number of accounts</span></h3>
                                    </li>
                                    <li class="list-inline-item chart-border-left me-0">
                                        <h3>
                                            <span data-plugin="counterup">258</span><span class="text-muted d-inline-block font-size-15 ms-3">Credit score</span>
                                        </h3>
                                    </li>

                                </ul>
                            </div>



                            <div class="col-lg-6 control-section">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <input id="indv-input-txt" />
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-12">
                                        <button class="float-right" id="indv-submit-btn" style="margin-top:12px;float:right"></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="profile1" role="tabpanel">

                            <div class="mt-1">
                                <ul class="list-inline main-chart mb-0">
                                    <li class="list-inline-item chart-border-left me-0 border-0">
                                        <h3 class="text-primary"><span data-plugin="counterup">4</span><span class="text-muted d-inline-block font-size-15 ms-3">Number of accounts</span></h3>
                                    </li>
                                    <li class="list-inline-item chart-border-left me-0">
                                        <h3>
                                            <span data-plugin="counterup">658</span><span class="text-muted d-inline-block font-size-15 ms-3">Credit score</span>
                                        </h3>
                                    </li>

                                </ul>
                            </div>


                            <div class="col-lg-6 control-section">

                                <div class="mb-3 row">
                                    <div class="col-md-10">
                                        <button id="grp-submit-btn" style="float:right;margin-top:25px">Submit</button>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" id="grp-account-number-1">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" id="grp-account-number-2">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" id="grp-account-number-3">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" id="grp-account-number-4">
                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="tab-pane" id="messages1" role="tabpanel">
                            <p class="mb-0">
                                Etsy mixtape wayfarers, ethical wes anderson tofu before they
                                sold out mcsweeney's organic lomo retro fanny pack lo-fi
                                farm-to-table readymade. Messenger bag gentrify pitchfork
                                tattooed craft beer, iphone skateboard locavore carles etsy
                                salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
                                Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh
                                mi whatever gluten-free carles.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>


</div>