<div id="home-pane" class='tab-pane' style="margin-bottom:53px">

    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <!--<h4 class="mb-0">How it works</h4>-->



        </div>
    </div>


    <div class="row">
        <div class="col-md-6 col-xl-3">

            <!-- Simple card -->
            <div class="card">
                <!-- class="card-img-top img-fluid" -->
                <center>
                    <img src="/Content/assets/images/link.png" alt="Card image cap" width="98" style="margin-top:32px">
                </center>
                <div class="card-body">
                    <h4 class="card-title ">Link your account</h4>
                    <p class="card-text">
                        Sign in with your bank's login detail to link your account(s) and start analyzing.
                    </p>
                    <center><a href="#" class="btn btn-primary waves-effect waves-light">Learn more</a></center>
                </div>
            </div>

        </div>


        <div class="col-md-6 col-xl-3">

            <div class="card">
                <!--<img class="card-img-top img-fluid" src="/Content/assets/images/pie-chart.png" alt="Card image cap">-->
                <center>
                    <img src="/Content/assets/images/data.png" alt="Card image cap" width="98" style="margin-top:32px">
                </center>
                <div class="card-body">
                    <h4 class="card-title ">Analysis</h4>
                    <p class="card-text">
                        Let's help analyze your spend behaviour and see what is going on in your life.
                    </p>

                    <center> <a href="#" class="btn btn-primary waves-effect waves-light">Read more</a></center>


                </div>
                <!--
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
            </ul>
            -->


            </div>

        </div>


        <div class="col-md-6 col-xl-3">

            <!-- Simple card -->
            <div class="card">
                <!--<img class="card-img-top img-fluid" src="/Content/assets/images/Charges.png" alt="Card image cap">-->
                <center>
                    <img src="/Content/assets/images/Charges.png" alt="Card image cap" width="98" style="margin-top:32px">
                </center>
                <div class="card-body">
                    <h4 class="card-title ">Charges</h4>
                    <p class="card-text">
                        Charges are incured for every update of your account transaction details.
                    </p>
                    <center> <a href="#" class="btn btn-primary waves-effect waves-light">Learn more</a></center>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="row align-items-centr">
                        <div class="col-sm-8">
                            <p class="text-white font-size-18">Go Premium <i class="mdi mdi-arrow-right"></i></p>

                        </div>
                        <div class="col-sm-4">
                            <div class="mt-4 mt-sm-0">
                                <img src="/Content/assets/images/best-seller.png" class="img-fluid" alt="">
                            </div>
                        </div>

                    </div>

                    <p class="card-text text-white" style='margin-top:24px'>
                        Do more with a premium account. Gain access to indepth analysis.
                    </p>

                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    

                    <center>
                        <a href="javascript: void(0);" class="btn btn-success waves-effect waves-light">Upgrade Account!</a>
                    </center>

                </div> <!-- end card-body-->
            </div>

        </div>



    </div>


</div>