<div id="models-pane" class='tab-pane hide'>
    <center><div id="mdl-dshbrd-prgrss-a"></div></center>


    <div id="mdl-dshbrd-container-a" class='hidden' style="width:100%">
        <div class="row">


            <div class="col-md-4 col-xl-4">

                <div class="card detail-trend-b">
                    <div class="card-body detail-trend-containe">
                        <div class="d-flex align-items-start">

                            <div class="flex-grow-1 align-self-center">
                                <div class="border-bottom pb-1">

                                    <h5 class="text-truncate font-size-16 mb-1">
                                        <a href="#" class="text-dark">BOBR</a>
                                        <i class="uil uil-info-circle me-3" id="bobr-tooltip" style='float:right;cursor:pointer'></i>
                                    </h5>

                                    <!--
                                <p class="text-muted">
                                    <i class="mdi mdi-account me-1"></i> Clifton Taylor
                                </p>
                                -->
                                </div>

                                <div id="bobr-chrt-new"></div>
                            </div>

                        </div>

                    </div>
                </div>



            </div>


            <div class="col-md-4 col-xl-4">

                <div class="card detail-trend-b">
                    <div class="card-body detail-trend-containe">
                        <div class="d-flex align-items-start">

                            <div class="flex-grow-1 align-self-center">
                                <div class="border-bottom pb-1">

                                    <h5 class="text-truncate font-size-16 mb-1">
                                        <a href="#" class="text-dark">EHVDM</a>
                                        <i class="uil uil-info-circle me-3" id="bobr-tooltip" style='float:right;cursor:pointer'></i>
                                    </h5>

                                    <!--
                                <p class="text-muted">
                                    <i class="mdi mdi-account me-1"></i> Clifton Taylor
                                </p>
                                -->
                                </div>

                                <div id="ehvdm-chrt"></div>
                            </div>

                        </div>

                    </div>
                </div>



            </div>


            <div class="col-md-4 col-xl-4">

                <div class="card detail-trend-b">
                    <div class="card-body detail-trend-containe">
                        <div class="d-flex align-items-start">

                            <div class="flex-grow-1 align-self-center">
                                <div class="border-bottom pb-1">

                                    <h5 class="text-truncate font-size-16 mb-1">
                                        <a href="#" class="text-dark">DRIP</a>
                                        <i class="uil uil-info-circle me-3" id="bobr-tooltip" style='float:right;cursor:pointer'></i>
                                    </h5>

                                    <!--
                                <p class="text-muted">
                                    <i class="mdi mdi-account me-1"></i> Clifton Taylor
                                </p>
                                -->
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div id="drip-chrt"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>



            </div>


        </div>



        <div class="row">


            <div class="col-md-4 col-xl-4">

                <div class="card detail-trend-b">
                    <div class="card-body detail-trend-containe">
                        <div class="d-flex align-items-start">

                            <div class="flex-grow-1 align-self-center">
                                <div class="border-bottom pb-1">

                                    <h5 class="text-truncate font-size-16 mb-1">
                                        <a href="#" class="text-dark">RGS</a>
                                        <i class="uil uil-info-circle me-3" id="bobr-tooltip" style='float:right;cursor:pointer'></i>
                                    </h5>

                                    <!--
                                <p class="text-muted">
                                    <i class="mdi mdi-account me-1"></i> Clifton Taylor
                                </p>
                                -->
                                </div>

                                <div id="rgs-chrt"></div>
                            </div>

                        </div>

                    </div>
                </div>



            </div>






        </div>



    </div>



</div>
