@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.BusinessObjects.BaseQry.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SmoothData.BusinessObjects.BaseQryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>